<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jizzarr Home</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script>
</head>
<body>
    <nav class="custom-navbar">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Favicon" class="favicon">
            Jizzarr Home
        </a>
        <a href="{{ url_for('collection') }}">My Collection</a>
        <a href="{{ url_for('config_page') }}">Settings</a>
        <a href="{{ url_for('logs') }}">Logs</a>
        <a href="{{ url_for('stats_page') }}">Stats</a>
    </nav>
    <div class="container">
        <h1 class="text-center">Search Sites via <img src="{{ url_for('static', filename='tpdblogo.png') }}" alt="TPDB" class="tpdb-logo"></h1>
        <div class="input-group-centered search-container">
            <input type="text" class="form-control form-control-dark" id="search-input" placeholder="Enter site name">
            <button class="btn btn-primary-dark mt-2 w-100" id="search-button">Search</button>
            <button id="search-stash" data-state="start" class="btn btn-primary-dark mt-2 w-100">
            <i class="fa fa-play"></i> Populate Sites from Stash
        </div>
        <div id="search-results" class="row row-cols-1 row-cols-md-3 g-4"></div>
        <div id="site-details" class="mt-4"></div>
        <div id="loading-indicator" class="loading hidden"></div>
        <div id="scenes-grid" class="mt-4"></div>
        <div id="pagination" class="mt-4"></div>
    </div>
    <div id="progress-bar-container">
        <img id="stash-logo" src="{{ url_for('static', filename='stash.png') }}" alt="Stash Logo">
        <div id="progress-bar">
            <div id="progress-bar-inner">0%</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        let stopPopulateSites = false;

        document.addEventListener('DOMContentLoaded', function() {
            const searchStashButton = document.getElementById('search-stash');
            const progressBarContainer = document.getElementById('progress-bar-container');
            const progressBarInner = document.getElementById('progress-bar-inner');

            searchStashButton.addEventListener('click', async function() {
                const currentState = searchStashButton.getAttribute('data-state');
                if (currentState === 'start') {
                    stopPopulateSites = false;
                    searchStashButton.setAttribute('data-state', 'stop');
                    searchStashButton.innerHTML = '<i class="fa fa-stop"></i> Stop';
                    searchStashButton.classList.remove('btn-primary-dark');
                    searchStashButton.classList.add('btn-danger');
                    await populateSitesFromStash();
                } else {
                    stopPopulateSites = true;
                    searchStashButton.setAttribute('data-state', 'start');
                    searchStashButton.innerHTML = '<i class="fa fa-play"></i> Populate Sites from Stash';
                    searchStashButton.classList.remove('btn-danger');
                    searchStashButton.classList.add('btn-primary-dark');
                    await stopPopulateSitesProcess();
                }
            });

            async function populateSitesFromStash() {
                setProgressBarVisibility(true);

                try {
                    const response = await fetch('/populate_from_stash', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (!response.ok) {
                        throw new Error(`Error ${response.status}: ${await response.text()}`);
                    }

                    const result = await response.json();

                    // Reset progress bar
                    updateProgressBar(0);
                    setProgressBarVisibility(false);
                    localStorage.removeItem('stashProgress');
                } catch (error) {
                    console.error('Error fetching from Stash:', error);
                    Toastify({
                        text: `Error fetching from Stash: ${error.message}`,
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)"
                    }).showToast();
                } finally {
                    // Reset button state when the process is complete or stopped
                    searchStashButton.setAttribute('data-state', 'start');
                    searchStashButton.innerHTML = '<i class="fa fa-play"></i> Populate Sites from Stash';
                    searchStashButton.classList.remove('btn-danger');
                    searchStashButton.classList.add('btn-primary-dark');
                }
            }

            async function stopPopulateSitesProcess() {
                try {
                    const response = await fetch('/stop_populate_sites', { method: 'POST' });
                    if (!response.ok) {
                        throw new Error(`Error stopping the process: ${response.statusText}`);
                    }
                    const result = await response.json();
                    Toastify({
                        text: result.message,
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
                    }).showToast();
                } catch (error) {
                    console.error('Error stopping the process:', error);
                    Toastify({
                        text: 'Error stopping the process: ' + error.message,
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)"
                    }).showToast();
                } finally {
                    // Ensure the button is reset to play state even if there's an error
                    searchStashButton.setAttribute('data-state', 'start');
                    searchStashButton.innerHTML = '<i class="fa fa-play"></i> Populate Sites from Stash';
                    searchStashButton.classList.remove('btn-danger');
                    searchStashButton.classList.add('btn-primary-dark');
                }
            }

            function updateProgressBar(percentage) {
                progressBarInner.style.width = percentage + '%';
                progressBarInner.innerText = percentage + '%';
            }

            function setProgressBarVisibility(visible) {
                progressBarContainer.style.display = visible ? 'flex' : 'none';
            }

            // Initialize progress bar visibility based on localStorage
            const storedProgress = localStorage.getItem('stashProgress');
            if (storedProgress) {
                updateProgressBar(parseInt(storedProgress, 10));
                setProgressBarVisibility(true);
            } else {
                setProgressBarVisibility(false);
            }

            // Function to handle progress updates from the server
            async function handleProgressUpdates() {
                const eventSource = new EventSource('/progress');
                eventSource.onmessage = function(event) {
                    const data = JSON.parse(event.data);
                    const progress = Math.round((data.completed / data.total) * 100);
                    updateProgressBar(progress);
                    localStorage.setItem('stashProgress', progress);
                    if (progress >= 100) {
                        eventSource.close();
                        setProgressBarVisibility(false); // Hide the progress bar
                        localStorage.removeItem('stashProgress');
                    }
                };
                eventSource.onerror = function() {
                    eventSource.close();
                };
            }

            handleProgressUpdates();
        });
    </script>
</body>
</html>
